*{
  box-sizing: border-box;
}
body{
  margin: 100px;
  width: auto;
  height: auto;
  background: #fff;
}
.contenedor{
  background-color: #8B1E2E;
  padding: 10px;
}

.codigo{
  padding: 10px;
  background-color: #fff;
  width: auto;
  height: 50px;
}

img{
  width: 40px;
  height: 40px;
  padding: 7px;
  background-color: #fff;
}
.campo{
  padding: 10px;
  background-color: #F9E777;
  width: auto;
  height: 50px;
}
